<div class="px-1" style="border: 1px solid #ccc; border-radius: 10px;">
    <div class="d-flex justify-content-between align-items-center px-2 py-2 bg-white" style="border-radius: 10px;">
        <button class="btn btn-sm btn-primary w-100 me-1" @onclick="OnLoadClicked">Load Screens</button>
        <button class="btn btn-sm btn-warning w-100 mx-1" @onclick="OnSaveClicked" disabled="@(!CanSave)">Save Screen</button>
        <button class="btn btn-sm btn-success w-100 ms-1" @onclick="OnRunClicked">Run</button>
    </div>
</div>
