#mainDiv {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #e3f2fd;
    padding: 2rem;
}

#canvas-inner {
    height: auto;
    width: 100%;
    overflow: hidden;
}


.control-label {
    display: block;
    font-weight: 600;
    margin-bottom: 4px;
    color: #495057;
    font-size: 0.925rem;
}

@media (max-width: 768px) {
    #canvas-inner {
        transform: scale(0.6);
    }
    #preview-container {
        width: 270px;
        height: 240px;
    }
}